@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Noto Sans', sans-serif;
    background-color: #DF9729;
    background: url(../image/background.jpg) no-repeat;
    background-size: cover;
}

/* Header */

header {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0 10px;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

/* Choice section */

#messages {
    text-align: center;
    font-weight: 850;
    padding: 15px;
    font-size: 1.3rem;
}

#choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    letter-spacing: 4px; 
}

#choice > div > h3 {
    padding-bottom: 15px;
    font-size: 2rem;
    text-align: center;
}

.button {
    padding: 15px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: #07D2EB;
    text-align: center;
    width: 150px;
    font-weight: 850;
    text-transform: uppercase;
    letter-spacing: 4px;
}

button:hover {
    background-color: greenyellow;
}

button:active {
    background-color: darkblue;
}

#buttons-div {
    text-align: center;
}

/* Game area section */

#game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.scores {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

/* User area */

.user-area {
    margin: 25px;
    text-align: center;
}

#user-image {
    height: 280px;
    border-radius: 2%;
}

/* Computer area */

.computer-area {
    margin: 25px;
    text-align: center;
}

#computer-image {
    height: 280px;
    border-radius: 2%;
    background: none;
}

/* Rules section */

#rules {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0 20px;
    background-color: black;
    color: white;
}

/* For screens size from 600px wide and down */

@media screen and (max-width: 600px) {
    
    header {
        font-size: 1rem;
    }

    #choice > div > h3 {
        font-size: 1.3rem;
    }

    #choice > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin: 5px;
        width: 110px;
        letter-spacing: 1px;
        padding: 8px;
    }

    #messages {
        padding: 5px;
    }

    .scores {
        font-size: 1rem;
    }

    .user-area {
        margin: 5px;
    }

    #user-image {
        height: 150px;
    }

    .computer-area {
        margin: 5px;
    }

    #computer-image {
        height: 150px;
    }

    #rules {
        font-size: 1rem;
    }
}
